<?xml version="1.0"?>
<robot name="radar">

  <link name="base_link">
    <inertial>
      <mass value="100.0"/>
      <inertia ixx="0.02" ixy="0.0" ixz="0.0" iyy="0.02" iyz="0.0" izz="0.02"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.3"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
      
    </visual>
  </link>

  <link name="antenna_link">
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.005" ixy="0.0" ixz="0.0" iyy="0.005" iyz="0.0" izz="0.005"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <material name="red"/>
    </visual>
    
  </link>

  <joint name="antenna_joint" type="fixed">
    <parent link="base_link"/>
    <child link="antenna_link"/>
    <origin xyz="0 0 0.25" rpy="0 0 0"/>
  </joint>

</robot>